[build]

  base = "project"

  command = "npm install --legacy-peer-deps && npm run build"

  publish = "dist"



[build.environment]

  NODE_VERSION = "18"

  NPM_FLAGS = "--legacy-peer-deps"

  NODE_OPTIONS = "--max-old-space-size=4096"



[[redirects]]

  from = "/*"

  to = "/index.html"

  status = 200

